<div class="p-2 service-item">
    <a href={{ gb.url }} {% if gb.target_blank %} target="_blank" {% endif %}>
        <div class="h-full flex items-center border-2 p-4 rounded-lg" style="border-color: {{ accentColor }}">
            <img alt="icon" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4"
                 src={{ gb.icon_url }}>
            <div class="flex-grow">
                <p class="text-base title-font font-medium service-item-name break-all">{{ gb.name }}</p>
            </div>
        </div>
    </a>
</div>