<div class="mx-auto container pt-12">
    <h2 class="text-4xl font-bold p-4">Bookmarks</h2>
    <div class="grid xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 p-4">
        {% for group in sorted(global_bookmarks.keys()) %}
            <div class="p-4 text-2xl">
                <h3 class="text-2xl p-4">{{ group }}</h3>
                {% for gb in global_bookmarks[group] %}
                    {% include "bookmark.html" %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>